{% extends 'base.html' %}
{% load static %}

{% block title %} {{ new.title }} {% endblock %}

{% block content %}
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <h5>So'ngi yangiliklar</h5>
                {% for nl in news_last %}
                    <span>Sana: {{ nl.created_at|time:'h:i' }} / {{ nl.created_at|date:'d.m.Y' }}</span>
                    <p style="font-size: large"><a href="{% url 'new_detail' nl.slug %}">{{ nl.title }}</a></p>
                {% endfor %}
            </div>
            <div class="col-lg-8">
                <span>Sana: {{ new.created_at|time:'h:i' }} / {{ new.created_at|date:'d.m.Y' }}</span>
                <span> Ko'rish: {{ new.view_news }}</span>
                <h2>{{ new.title }}</h2>
                <div><img style="width: 80%;" src="{{ new.img.url }}"></div>
                <p>{{ new.description }}</p>

            </div>
            <div class="col-lg-2">
                <h5>{{ new.category.name }} yangiliklar</h5>
                {% for nc in news_category %}
                    <span>Sana: {{ nc.created_at|time:'h:i' }} / {{ nc.created_at|date:'d.m.Y' }}</span>
                    <p style="font-size: large"><a href="{% url 'new_detail' nc.slug %}">{{ nc.title }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}